.ContactForm {
	display: block;
	outline: 1px solid #ccc;
}

.ContactList {
	display: block;
	outline: 1px solid #ccc;
	padding: 3px;
	margin-top: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}
